@font-face {
  font-family: thehistoriademo;
  src: url(../fonts/TheHistoriaDemo.ttf);
}

/* ================ Main =================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  /* font-family: 'Bodoni Moda', sans-serif; */
  overflow-y: scroll;
  overflow-x: hidden;
  background-image: url("../images/bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
}


#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -100;
}





/* ================ Preloader =================== */
/* .spinner-box {
  z-index: -99;
} */

.spinner-box {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}



/* ================ SPINNING CIRCLE =================== */

.leo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.blue-orbit {
  width: 165px;
  height: 165px;
border: 1px solid #91daffa5;
-webkit-animation: spin3D 3s linear .2s infinite;
        animation: spin3D 3s linear .2s infinite;
}

.green-orbit {
    width: 120px;
    height: 120px;
  border: 1px solid #91ffbfa5;
  -webkit-animation: spin3D 2s linear 0s infinite;
  animation: spin3D 2s linear 0s infinite;
}

.red-orbit {
    width: 90px;
    height: 90px;
  border: 1px solid #ffca91a5;
  -webkit-animation: spin3D 1s linear 0s infinite;
  animation: spin3D 1s linear 0s infinite;
}

.white-orbit {
    width: 60px;
    height: 60px;
  border: 2px solid #ffffff;
  -webkit-animation: spin3D 10s linear 0s infinite;
  animation: spin3D 10s linear 0s infinite;
}

.w1 {
  -webkit-transform: rotate3D(1, 1, 1, 90deg);
      -ms-transform: rotate3D(1, 1, 1, 90deg);
          transform: rotate3D(1, 1, 1, 90deg);
}

.w2 {
  -webkit-transform: rotate3D(1, 2, .5, 90deg);
      -ms-transform: rotate3D(1, 2, .5, 90deg);
          transform: rotate3D(1, 2, .5, 90deg);
}

.w3 {
  -webkit-transform: rotate3D(.5, 1, 2, 90deg);
      -ms-transform: rotate3D(.5, 1, 2, 90deg);
          transform: rotate3D(.5, 1, 2, 90deg);
}



@-webkit-keyframes spin3D {
  from {
    -webkit-transform: rotate3d(.5,.5,.5, 360deg);
            transform: rotate3d(.5,.5,.5, 360deg);
  }
  to{
    -webkit-transform: rotate3d(0deg);
            transform: rotate3d(0deg);
  }
}

@keyframes spin3D {
  from {
    -webkit-transform: rotate3d(.5,.5,.5, 360deg);
            transform: rotate3d(.5,.5,.5, 360deg);
  }
  to{
    -webkit-transform: rotate3d(0deg);
            transform: rotate3d(0deg);
  }
}

.fondu-out {
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
}




/* ================ scrollTop =================== */


.scrollTop {
  position: fixed;
  bottom: 800px;
  right: 40px;
  width: 60px;
  height: 60px;
  background: #fff url("../images/up.png");
  border-radius: 50%;
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 100000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s; 
  -o-transition: 0.5s;
  transition: 0.5s;
}

.scrollTop.active {
  bottom: 40px;
  visibility: visible;
  opacity: 1;
}

p {
  font-size: 14px;
}

/* #canvas1 {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -10;
} */

/* ================ Menu =================== */

.header {
  position: relative;
}

.header .top-nav ul li a {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  color: #ffffff;
}

.header .top-nav ul li a:hover {
  /* background: #32599c; */
  color: #fdfeff;
  border: 0;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  background: none;
}

.header .top-nav ul li .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .top-nav ul li .about span {
  margin-left: 10px;
}

.navbar-toggler:focus {
  text-decoration: none;
  box-shadow: 0 0 0 0;
}

.navbar-toggler:hover {
  border: 0;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* ================ Jumborton =================== */

.banner {
  position: relative;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social a {
  font-size: 2em;
  padding: 2rem;
}

.social .fa-instagram {
  color: #0e76a8;
}

.social .fa-github {
  color: #333;
}

.fa-github:hover,
.fa-instagram:hover,
.fa-linkedin:hover {
  color: #32599c;
}

.header-text .nom {
  color: #fff;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
  position: relative;
  background: #000;
  -webkit-filter: brightness(250%);
  filter: brightness(250%);
}

.header-text .nom::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  right: 0;
  mix-blend-mode: difference;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.header-text .nom::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#00ffd0), color-stop(#d2bbff), color-stop(#ffd100), to(#00ffd0));
  background-image: -o-linear-gradient(left, #00ffd0, #d2bbff, #ffd100, #00ffd0);
  background-image: linear-gradient(90deg, #00ffd0, #d2bbff, #ffd100, #00ffd0);
  mix-blend-mode: multiply;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes move {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes move {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

.header-text h1 {
  font-size: 35px;
  font-weight: 300;
  line-height: 45px;
  padding-top: 30px;
  margin: 0;
  padding: 0;
}

.header-text p {
  color: #fff;
  font-size: 17px;
  line-height: 28px;
}

.btn-projet,
.btn-projet:focus,
.btn-projet:active,
.btn-projet:visited {
  padding: 10px 30px;
  font-size: 19px;
  border-radius: 3px;
  -webkit-transition: all 1s;
  -moz-transition: 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.btn-projet:hover {
  background: #32599c;
  color: #fff;
  -webkit-transition: all 1s;
  -moz-transition: 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.header-img img {
  border: 1px solid #fff;
  width: 100%;
}

/* ================ Scroll bar =================== */

::-webkit-scrollbar {
  width: 25px;
}

::-webkit-scrollbar-track {
  border: 8px solid #232943;
  -webkit-box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: #173f5f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ================ Animated logo =================== */

.menu_list .loader {
  position: relative;
  left: 90%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#8ca6cc), color-stop(#d4af37), to(blueviolet));
  background: -o-linear-gradient(#8ca6cc, #d4af37, blueviolet);
  background: linear-gradient(#8ca6cc, #d4af37, blueviolet);
  -webkit-animation: animate 0.5s linear infinite;
          animation: animate 0.5s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.menu_list .loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#3b5170), color-stop(#cab779), to(rgb(67, 14, 116)));
  background: -o-linear-gradient(#3b5170, #cab779, rgb(67, 14, 116));
  background: linear-gradient(#3b5170, #cab779, rgb(67, 14, 116));
}

.menu_list .loader span:nth-child(1) {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.menu_list .loader span:nth-child(2) {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.menu_list .loader span:nth-child(3) {
  -webkit-filter: blur(25px);
  filter: blur(25px);
}

.menu_list .loader span:nth-child(2) {
  -webkit-filter: blur(50px);
  filter: blur(50px);
}

.menu_list .loader:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #240229;
  border-radius: 50%;
}

/* ================ About =================== */

#abouts {
  margin-top: 8rem;
}

#abouts .about-line {
  color: #fff;
  width: calc(100% + 52px);
}

.about-me .about-image {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
}

/* ================ Technology =================== */

#technology .aws {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

#technology .aws:hover {
  -webkit-animation: ro 2s linear infinite;
  animation: ro 2s linear infinite;
}

#technology .aws img {
  max-width: 162px;
  width: auto;
  height: 96px;
}

#technology .php {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

#technology .php:hover {
  -webkit-animation: ro 2s linear infinite;
  animation: ro 2s linear infinite;
}

#technology .php img {
  max-width: 120px;
  width: auto;
  height: 85px;
}

#technology .mysql {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

#technology .mysql:hover {
  -webkit-animation: ro 2s linear infinite;
  animation: ro 2s linear infinite;
}

#technology .linux img {
  max-width: 120px;
  width: auto;
  height: 85px;
}

#technology .linux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#technology .linux:hover {
  -webkit-animation: ro 2s linear infinite;
  animation: ro 2s linear infinite;
}

#technology .mysql img {
  max-width: 150px;
  width: auto;
  height: 124px;
}

#technology i {
  margin: 40px;
}

#technology i:hover {
  -webkit-animation: ro 2s linear infinite;
  animation: ro 2s linear infinite;
}

@-webkit-keyframes ro {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes ro {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#technology .width img {
  margin: 40px;
}

#technology .fa-html5 {
  color: #e34c26;
}

#technology .fa-css3-alt {
  color: #264de4;
}

#technology .fa-bootstrap {
  color: #602c50;
}

#technology .fa-sass {
  color: #cd6799;
}

#technology .fa-less {
  color: #0e76a8;
}

#technology .fa-wordpress {
  color: #00749c;
}

#technology .fa-symfony {
  color: #000;
}

#technology .fa-laravel {
  color: #fb503b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#technology .fa-js-square {
  color: #f0db4f;
}

#technology .fa-react {
  color: #61dbfb;
}

#technology .fa-angular {
  color: #a6120d;
}

#projet {
  margin-top: 25%;
}

#projet .card-body a:hover {
  -webkit-transition: all 1s;
  -moz-transition: 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background: #32599c;
  outline: none;
}

#projet .card-body .git {
  float: right;
}

/* ================ Contact Us =================== */

#form {
  padding: 20% 5%;
}

#form .contact-line {
  color: #fff;
  width: calc(100% + 52px);
}

.contact-us-form .form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  background-color: transparent;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 3px;
  margin-bottom: 15px;
  opacity: 0.8;
  outline: 0px !important;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.form-control::-webkit-input-placeholder {
  color: #fff;
  /* Firefox */
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #fff;
  /* Firefox */
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #fff;
  /* Firefox */
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #fff;
  /* Firefox */
  opacity: 1;
}

.form-control::placeholder {
  color: #fff;
  /* Firefox */
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
}

#message {
  height: 117px;
  resize: none;
}

.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {
  background-color: transparent;
  border-radius: 1px solid gray;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  font-size: 18px;
  color: black;
  outline: 0px !important;
  -webkit-transition: all 1s;
  -moz-transition: 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.submit-btn:hover {
  background: #173f5f;
  color: #fff;
  border-color: #173f5f;
}

.navbar-nav {
  margin-left: -40px;
}

/* ============== mobile menu ================ */

/* ================ Mobile Media Queries =================== */

@media screen and (min-width: 992px) /* Laptops */ {
  #projet .hmtech,
  .file-explorer {
    margin-top: 2rem;
  }

  .spinner-box {
    position: fixed;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) /* Tablet portrait */ {
  .spinner-box {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 5%;
    bottom: 2%;
  }
  /* ======== burger menu ========== */
  .top-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: calc(-100vh + -30px);
    left: 0px;
    background-color: rgba(105, 86, 32, 0.3);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    -webkit-transition: all 650ms cubic-bezier(1, 0, 0, 1);
    -moz-transition: all 650ms cubic-bezier(1, 0, 0, 1);
    -o-transition: all 650ms cubic-bezier(1, 0, 0, 1);
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
    z-index: 1000;
  }

  .nav-list {
    list-style: none;
    width: 100%;
    height: 98%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -7px;
  }

  li {
    margin: 0 2rem;
  }

  .nav-link {
    font-family: thehistoriademo, sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
  }

  .top-nav.open {
    top: -25px;
    border-radius: initial;
  }

  .menu-toggler {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    width: 3rem;
    height: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    -webkit-transition: -webkit-transform 650ms ease-out;
    transition: -webkit-transform 650ms ease-out;
    -o-transition: transform 650ms ease-out;
    transition: transform 650ms ease-out;
    transition: transform 650ms ease-out, -webkit-transform 650ms ease-out;
  }

  .menu-toggler.open {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .bar {
    background: #000;
    width: 49px;
    height: 4px;
    border-radius: 0.8rem;
  }

  .bar.half {
    width: 24px;
  }

  .bar.start {
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
        transform-origin: right;
    -webkit-transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    -o-transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);  

  }

  .open .bar.start {
    -webkit-transform: rotate(-450deg) translateX(11px);
    -ms-transform: rotate(-450deg) translateX(11px);
    transform: rotate(-450deg) translateX(11px);
  }

  .bar.end {
     -ms-flex-item-align: end;
              align-self: flex-end;
-webkit-transform-origin: left;
    -ms-transform-origin: left;
        transform-origin: left;
-webkit-transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
-o-transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  }

  .open .bar.end {
    -webkit-transform: rotate(-450deg) translateX(-11px);
        -ms-transform: rotate(-450deg) translateX(-11px);
    transform: rotate(-450deg) translateX(-11px);
  }

  /* ================ Animated logo =================== */
  .menu_list .loader {
    position: absolute;
    top: 10%;
    left: 85%;
    bottom: 15%;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#8ca6cc), color-stop(#d4af37), to(blueviolet));
    background: -o-linear-gradient(#8ca6cc, #d4af37, blueviolet);
    background: linear-gradient(#8ca6cc, #d4af37, blueviolet);
    -webkit-animation: animate 0.5s linear infinite;
            animation: animate 0.5s linear infinite;  }

  #conteneur_menu .hamburger {
    margin: 4% 0 0 -5%;
  }

  .header .menu_list ul li a {
    border: none;
  }

  /* ================ Technology =================== */
  #technology i {
    font-size: 4.5em;
  }

  #technology .php {
    margin-top: 7px;
    height: 100%;
    width: 100%;
    margin-left: -15px;
    -webkit-box-align: center;
       -ms-flex-align: center;
    align-items: center;
  }

  #technology .php img {
    max-width: 90px;
    width: auto;
    height: 60px;
  }

  #projet {
    margin-top: 40%;
  }

  #technology .aws {
    margin-top: 7px;
    height: 100%;
    width: 100%;
  }
  #technology .aws img {
    max-width: 164px;
    width: auto;
    height: 76px;
  }
  #technology .mysql {
    margin-top: 7px;
    height: 100%;
    width: 100%;
  }
  #technology .mysql img {
    max-width: 162px;
    width: auto;
    height: 91px;
  }
  #technology .linux img {
    max-width: 80px;
    width: auto;
    height: 70px;
  }
  #projet .hmtech,
  .file-explorer {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 767.98px) /* Mobile landscape */ {
  .spinner-box {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* ======== burger menu ========== */
  .top-nav {
    width: 100%;
    height: 95vh;
    position: fixed;
    top: calc(-100vh + -30px);
    left: 0px;
    background-color: rgba(105, 86, 32, 0.3);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    -webkit-transition: all 650ms cubic-bezier(1, 0, 0, 1);
    -moz-transition: all 650ms cubic-bezier(1, 0, 0, 1);
    -o-transition: all 650ms cubic-bezier(1, 0, 0, 1);
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
    z-index: 1000;
  }

  .nav-list {
    list-style: none;
    width: 100%;
    height: 98%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -7px;
  }

  li {
    margin: 0 2rem;
  }
  .nav-link {
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
  }

  .nav-link {
    font-family: thehistoriademo, sans-serif;
    font-size: 1rem;
    padding: 1rem;
    border: none;
  }

  .nav-link:hover,
  .nav-link:focus {
    background: -webkit-gradient(linear, left bottom, left top, from(#ffe838), to(#fd57bf));
    background: -o-linear-gradient(bottom, #ffe838, #fd57bf);
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
  }

  .top-nav.open {
    top: -25px;
    border-radius: initial;
  }

  .menu-toggler {
    position: fixed;
    top: 2rem;
    left: 2rem;
    width: 3rem;
    height: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    -webkit-transition: -webkit-transform 650ms ease-out;
    transition: -webkit-transform 650ms ease-out;
    -o-transition: transform 650ms ease-out;
    transition: transform 650ms ease-out;
    transition: transform 650ms ease-out, -webkit-transform 650ms ease-out;
  }

  .menu-toggler.open {
    -webkit-transform: rotate(-48deg);
        -ms-transform: rotate(-48deg);
    transform: rotate(-48deg);
  }

  .bar {
    background: #000;
    width: 49px;
    height: 4px;
    border-radius: 0.8rem;
  }

  .bar.half {
    width: 24px;
  }

  .bar.start {
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
    -webkit-transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    -o-transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);  
  }

  .open .bar.start {
    -webkit-transform: rotate(-450deg) translateX(11px);
        -ms-transform: rotate(-450deg) translateX(11px);
    transform: rotate(-450deg) translateX(11px);
  }

  .bar.end {
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
        transform-origin: left;
    -webkit-transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    -o-transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);  }

  .open .bar.end {
    -webkit-transform: rotate(-450deg) translateX(-11px);
    -ms-transform: rotate(-450deg) translateX(-11px);
    transform: rotate(-450deg) translateX(-11px);
  }

  /* ======== loader ========== */
  .menu_list .loader {
    position: absolute;
    left: 90%;
    top: 20px;
    width: 10px;
    height: 50px;
    border-radius: 50%;
  }
  /* ======== header ========== */
  .header .menu_list ul li a {
    border: none;
  }
  .social a {
    font-size: 1.8em;
  }
  .section-title p {
    font-size: 16px;
  }
  .section-title h2 {
    font-size: large;
  }

  #abouts h2 {
    font-size: large;
  }

  /* ======== technology ========== */
  #technology i {
    font-size: 3.5em;
  }

  #technology .php {
    margin-left: 26px;
  }

  #technology .php img {
    max-width: 80px;
    width: auto;
    height: 50px;
  }

  #technology .mysql {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }

  #technology .mysql {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
  }

  #technology .mysql img {
    max-width: 100px;
    width: auto;
    height: 80px;
  }
  #technology .aws {
    margin-left: -25px;
  }
  #technology .aws img {
    max-width: 70px;
    width: auto;
    height: 85px;
  }
  #technology .linux img {
    max-width: 80px;
    width: auto;
    height: 60px;
  }
  #projet {
    margin-top: 55%;
  }
  #projet h3 {
    font-size: large;
  }
  #projet .card {
    margin-bottom: 10%;
  }
  #projet .card h5 {
    font-size: large;
  }
  #form {
    padding: 60% 0px 200px 0;
  }
  #form h3 {
    font-size: large;
  }
}

@media screen and (max-width: 575.98px) /* Mobile */ {
  .spinner-box {
    position: fixed;
    bottom: 10%;
    right: 8%;
  }
  #preloader {
    position: fixed;
    width: 85%;
    height: 100%;
    background: url('../images/pre.gif') #fff no-repeat center;
    z-index: 99999;
    
  }
  /* ======== Animated loader ========== */
  .menu_list .loader {
    position: absolute;
    left: 88%;
    top: 20px;
    width: 12px;
    height: 50px;
    border-radius: 50%;
  }

  .header .menu_list ul li a {
    border: none;
  }

  /* ======== Jumborton ========== */
  .banner a {
    padding: 10px 16px 10px 16px;
    font-size: 16px;
  }

  .social a {
    font-size: 1.8em;
    padding: 1rem;
  }

  .header-text h1 {
    font-size: 25px;
    font-weight: 300;
    line-height: 45px;
  }

  .header-text p {
    font-size: 15px;
  }

  .section-title p {
    font-size: 16px;
  }

  .section-title h2 {
    font-size: large;
  }

  /* ======== About ========== */
  #abouts h2 {
    font-size: large;
  }

  /* ======== Technology ========== */
  #technology i {
    font-size: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
      justify-content: center;
  }

  #technology .aws {
    margin-top: 7px;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
      justify-content: center;
    margin-left: 5px;
  }

  #technology .aws img {
    max-width: 133px;
    width: auto;
    height: 55px;
  }

  #technology .mysql {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
       -ms-flex-pack: start;
     justify-content: flex-start;
  }

  #technology .mysql img {
    max-width: 80px;
    width: auto;
    height: 70px;
  }

  #technology .sass {
    /* margin-left: 9%; */
    display: flex;
    justify-content: center;
  }
  #technology .javascript {
    display: flex;
    justify-content: center;
  }
  #technology .wordpress {
    margin-left: -5%;
  }
  #technology .php {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 8px;
  }
  #technology .php img {
    max-width: 65px;
    width: auto;
    height: 45px;
  }
  #technology .linux img {
    max-width: 80px;
    width: auto;
    height: 50px;
  }
  #technology .laravel {
    font-size: 1em;
  }
  /* ======== Projet ========== */
  #projet {
    margin: 100% 0 0 0;
  }
  #form {
    margin: 200% 0 20% 0%;
  }
}

@media screen and (max-width: 319.98px) {
  .menu_list .loader {
    position: absolute;
    left: 85%;
    top: 20px;
    width: 12px;
    height: 50px;
    border-radius: 50%;
  }

  .header .menu_list ul li a {
    border: none;
  }

  /* ======== Jumborton ======== */
  .banner {
    text-align: center;
  }

  .banner .header-text p {
    font-size: 13px;
  }

  /* ======== About ======== */


  #abouts .about-line {
    color: #fff;
    width: calc(100% + 52px);
  }

  .section-title h2 {
    font-size: large;
  }

  /* ======== Technology ======== */
  #technology i {
    font-size: 3rem;
  }

  #technology .aws {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -2px;
    margin-left: 10px;
  }

  #technology .aws img {
    max-width: 100px;
    width: auto;
    height: 50px;
  }

  #technology .php {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
  }

  #technology .php img {
    max-width: 60px;
    width: auto;
    height: 40px;
  }

  #technology .mysql {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
    margin-left: 10px;
  }

  #technology .mysql img {
    max-width: 65px;
    width: auto;
    height: 110px;
  }

  /* ======== Projet ======== */
  #projet h3 {
    font-size: 20px;
  }

  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: 0;
}

}





