/* ================ Main =================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100vh;
}

p {
    font-size: 14px;
}

#canvas1 {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
}


/* ================ Menu =================== */

.header {
    position: relative;
}

#conteneur_menu button {
    padding-top: 10%;
    outline: none !important;
}

.header .menu_list ul li a {
    font-weight: bold;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.header .menu_list ul li a:hover {
    background: blueviolet;
    color: #fff;
    border-color: blueviolet;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}


/* ================ Jumborton =================== */

.banner {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social a {
    font-size: 2em;
    padding: 2rem;
}

.social .fa-instagram {
    color: #0e76a8;
}

.social .fa-github {
    color: #333;
}

.fa-github:hover,
.fa-instagram:hover,
.fa-linkedin:hover {
    color: slateblue;
}

.header-text h1 {
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;
    padding-top: 30px;
}

.header-text p {
    color: #fff;
    font-size: 17px;
    line-height: 28px;
}

.btn-projet,
.btn-projet:focus,
.btn-projet:active,
.btn-projet:visited {
    padding: 10px 30px;
    font-size: 19px;
    border-radius: 3px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.btn-projet:hover {
    background: blueviolet;
    color: #fff;
    border-color: blueviolet;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.header-img img {
    border: 1px solid #fff;
    width: 100%;
}


/* ================ Scroll bar =================== */

 ::-webkit-scrollbar {
    width: 25px;
}

 ::-webkit-scrollbar-track {
    border: 8px solid #232943;
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}

 ::-webkit-scrollbar-thumb {
    background-color: #173f5f;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* ================ Animated logo =================== */

.menu_list .loader {
    position: relative;
    left: 45%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(#8ca6cc, #D4AF37, blueviolet);
    animation: animate 0.5s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.menu_list .loader span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#3b5170, #cab779, rgb(67, 14, 116));
}

.menu_list .loader span:nth-child(1) {
    filter: blur(5px);
}

.menu_list .loader span:nth-child(2) {
    filter: blur(10px);
}

.menu_list .loader span:nth-child(3) {
    filter: blur(25px);
}

.menu_list .loader span:nth-child(2) {
    filter: blur(50px);
}

.menu_list .loader:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #240229;
    border-radius: 50%;
}


/* ================ About =================== */

.about-me .about-image {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
}


/* ================ Technology =================== */

#technology .aws {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#technology .aws img {
    /* max-width: 100px;
width: auto;
height: 50px; */
}

#technology .php {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#technology .php img {
    max-width: 100px;
    width: auto;
    height: 85px;
}

#technology .mysql {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#technology .mysql img {
    max-width: 100px;
    width: auto;
    height: 100px;
}

#technology i {
    margin: 40px;
}

#technology .width img {
    margin: 40px;
}

#technology .fa-html5 {
    color: #e34c26;
}

#technology .fa-css3-alt {
    color: #264de4;
}

#technology .fa-bootstrap {
    color: #602C50;
}

#technology .fa-sass {
    color: #CD6799;
}

#technology .fa-less {
    color: #0E76A8;
}

#technology .fa-wordpress {
    color: #00749C;
}

#technology .fa-symfony {
    color: #000;
}

#technology .fa-laravel {
    color: #fb503b;
}

#technology .fa-js-square {
    color: #f0db4f;
}

#technology .fa-react {
    color: #61DBFB;
}

#technology .fa-angular {
    color: #a6120d;
}


/* ================ Contact Us =================== */

#form {
    margin-bottom: 50px;
}

.contact-us-form .form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 3px;
    margin-bottom: 15px;
    opacity: 0.8;
    outline: 0px !important;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.form-control::placeholder {
    color: #fff;
    /* Firefox */
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
}

#message {
    height: 117px;
    resize: none;
}

.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {
    background-color: transparent;
    border-radius: 1px solid gray;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    font-size: 18px;
    color: black;
    outline: 0px !important;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.submit-btn:hover {
    background: blueviolet;
    color: #fff;
    border-color: blueviolet;
}


/* ================ Mobile Media Queries =================== */

@media screen and (min-width: 1200px)
/* Laptops */

{}

@media screen and (min-width: 992px)
/* Tablet landscape */

{}

@media screen and (min-width: 768px) and (max-width: 991.98px)
/* Tablet portrait */

{
    /* ================ Animated logo =================== */
    .menu_list .loader {
        position: absolute;
        left: 85%;
        bottom: 15%;
        width: 85px;
        height: 85px;
        border-radius: 50%;
        background: linear-gradient(#8ca6cc, #D4AF37, blueviolet);
        animation: animate 0.5s linear infinite;
    }
    #technology i {
        font-size: 4em;
    }
    #technology .php img {
        max-width: 80px;
        width: auto;
        height: 60px;
    }
    #projet {
        margin-top: 50%;
    }
    #technology .aws {
        margin-top: 7px;
        height: 100%;
        width: 100%;
    }
    #technology .aws img {
        max-width: 200px;
        width: auto;
        height: 100px;
    }
    #technology .php {
        margin-top: 7px;
        height: 100%;
        width: 100%;
        margin-left: 15px;
    }
    #technology .mysql {
        margin-top: 7px;
        height: 100%;
        width: 100%;
        margin-left: 15px;
    }
}

@media screen and (max-width: 767.98px)
/* Mobile landscape */

{
    .menu_list .loader {
        position: absolute;
        left: 85%;
        top: 40px;
        width: 12px;
        height: 50px;
        border-radius: 50%;
        background: linear-gradient(#8ca6cc, #D4AF37, blueviolet);
        animation: animate 0.5s linear infinite;
    }
    .social a {
        font-size: 1.8em;
        padding: .7rem;
    }
    #conteneur_menu button.hamburger-inner {
        padding-top: 10%;
    }
    .section-title p {
        font-size: 16px;
    }
    #abouts .about-line {
        color: #fff;
        width: calc(100% + 52px);
    }
    .section-title h2 {
        font-size: large;
    }
    #abouts h2 {
        font-size: large;
    }
    #technology .tech-line {
        color: #fff;
        width: calc(100% + 52px);
    }
    #technology i {
        font-size: 3.5em;
    }
    #technology .php {
        margin-left: 30px;
    }
    #technology .php img {
        max-width: 80px;
        width: auto;
        height: 50px;
    }
    #technology .mysql {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    #technology .mysql {
        margin-left: 30px;
    }
    #technology .mysql img {
        max-width: 100px;
        width: auto;
        height: 80px;
    }
    #technology .aws {
        margin-left: -25px;
    }
    #technology .aws img {
        max-width: 70px;
        width: auto;
        height: 85px;
    }
    #projet .projet-line {
        color: #fff;
        width: 100%;
    }
    #projet .card {
        margin-bottom: 10%;
    }
    #form {
        margin-top: 70%;
    }
}

@media screen and (max-width: 575.98px)
/* Mobile */

{
    /* ======== Animated loader ========== */
    .menu_list .loader {
        position: absolute;
        left: 95%;
        top: 20px;
        width: 12px;
        height: 50px;
        border-radius: 50%;
        background: linear-gradient(#8ca6cc, #D4AF37, blueviolet);
        animation: animate 0.5s linear infinite;
    }
    /* ======== Jumborton ========== */
    .social a {
        font-size: 1.8em;
        padding: 1rem;
    }
    .header-text h1 {
        font-size: 25px;
        font-weight: 300;
        line-height: 45px;
        padding-top: 30px;
    }
    #conteneur_menu button.hamburger-inner {
        padding-top: 10%;
    }
    .section-title p {
        font-size: 16px;
    }
    .section-title h2 {
        font-size: large;
    }
    /* ======== About ========== */
    #abouts h2 {
        font-size: large;
    }
    #abouts .about-line {
        color: #fff;
        width: calc(100% + 52px);
    }
    /* ======== Technology ========== */
    #technology {
        margin-left: 7%;
    }
    #technology .tech-line {
        color: #fff;
        width: calc(100% + 52px);
    }
    #technology i {
        font-size: 3rem;
    }
    #technology .aws {
        margin-top: 7px;
        height: 100%;
        width: 100%;
        margin-left: 10px;
    }
    #technology .aws img {
        max-width: 200px;
        width: auto;
        height: 65px;
    }
    #technology .mysql {
        margin-left: 10px;
    }
    #technology .mysql img {
        max-width: 80px;
        width: auto;
        height: 100px;
    }
    #technology .php {
        margin-left: 10px;
    }
    #technology .php img {
        max-width: 65px;
        width: auto;
        height: 45px;
    }
    /* ======== Projet ========== */
    #projet {
        margin: 50% 0 0 7%;
    }
    #projet .projet-line {
        color: #fff;
        width: 100%;
    }
    #projet .card {
        margin-bottom: 10%;
    }
    #form {
        margin: 120% 0 20% 7%;
        padding-bottom: 30%;
    }
}

@media screen and (max-width: 319.98px) {
    /* ======== Jumborton ======== */
    .banner {
        margin-left: 8%;
        text-align: center;
    }
    .banner .header-text p {
        font-size: 13px;
    }
    /* ======== About ======== */
    #abouts h2 {
        margin-left: 20%;
        font-size: 20px;
    }
    #abouts .about-me {
        margin-left: 10%;
    }
    #abouts .about-line {
        color: #fff;
        width: calc(100% + 52px);
    }
    .section-title h2 {
        font-size: 18px;
        margin-left: 12%;
    }
    /* ======== Technology ======== */
    #technology .tech-line {
        color: #fff;
        width: calc(100% + 52px);
    }
    #technology i {
        font-size: 3rem;
    }
    #technology .aws {
        height: 100%;
        width: 100%;
        margin-top: -2px;
        margin-left: 40px;
    }
    #technology .php {
        height: 100%;
        width: 100%;
        margin-left: 15px;
    }
    #technology .php img {
        max-width: 65px;
        width: auto;
        height: 40px;
    }
    #technology .mysql {
        height: 100%;
        width: 100%;
        margin-left: 20px;
    }
    #technology .mysql img {
        max-width: 80px;
        width: auto;
        height: 110px;
    }
    /* ======== Projet ======== */
    #projet {
        margin-left: 17%;
    }
    #projet h3 {
        font-size: 20px;
    }
    #projet .projet-line {
        color: #fff;
        width: 100%;
    }
    #form {
        margin-left: 17%;
        margin-top: 200%;
        padding-bottom: 30%;
    }
}